/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require mobile/bootstrap.min.css
 *= require mobile/bootstrap-slider.min.css
 *= require mobile/alertify.min
 *= require mobile/new-style
 *= require mobile/global
 *= require mobile/drawer.css
 *= require mobile/boostrap_alertify.min.css
*/

 /*temp change*/
/*.alertify-logs .alertify-log-error {
    background: #fef600;
    background: #fef600;
    color: #484848;
    text-shadow: none;
}
.alertify-log {
    background: #1F1F1F;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
}*/
